.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px; 
    background-color: rgb(128, 85, 55); 
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:15px;
}

.header .right a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.right{
    margin-right: 50px;
}

.content {
    margin-top: 80px; 
    padding: 20px;
}
