body {
  background-color: lavenderblush;
  width: auto;
  height: auto;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  flex: 1 0 100px;
}

.p {
  width: 33%;
  height: 80px;
  border: 1px solid black;
}
.para1 {
  background-color: limegreen;
}
.para2 {
  background-color: red;
}
.para3 {
  background-color: orange;
}
.para4 {
  background-color: blue;
}
